:root {
  --jumbotron-padding-y: 3rem;
}

.fa-github {
  height: 1.87em;
  margin-bottom: -1em;
  margin-top: -1em;
  margin-right: -.8em;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.modal-dialog {
  min-width: 96%;
  min-height: 96%;
  margin-left: 2%;
  padding: 0;
}

.modal-content {
  height: 96%;
  min-width: 96%;
  border-radius: 0;
}

.table-sm{
  font-size: 12px;
}

.media-body {
  padding-bottom: 2em;
}

.overview_img {
  padding-bottom: 2em;
  width: 50%;
  height: auto;
}
