#flood_dygraph .dygraph-label .dygraph-xlabel,
#flood_dygraph .dygraph-axis-label,
#flood_dygraph .dygraph-label{
  color: white;
}

#flood_dygraph .dygraph-legend {
  background: #323232 !important;
  color: white;
}

#flood_dygraph .dygraph-legend {
  z-index: 999999 !important;
}