/*****************************************
*             Main Set-up                *
*****************************************/

:root {
  --header: #0069b5;
  --tab-background: #005593;
  --title-text-color: #0073c6;
}

body, 
label, 
input, 
button, 
select { 
  font-family: 'Helvetica Neue', Helvetica;
  font-weight: 200;
}

h1, 
h2, 
h3, 
h4 { font-weight: 400; }

.shiny-notification { opacity: 1 !important; }

.dark_bg { background: #323232;}

/*****************************************
*               Header                   *
*****************************************/

.bg {display: none;}

.logo,
.logo-small {
  max-height: 30px;
  margin-top: -3px;
}

.logo-small {display: none;}

.navbar-default {
  background-color: var(--header) !important;
  border-color: var(--header) !important;
}

.navbar-brand { font-weight: bold; }

.navbar-nav > li > a,
.navbar-brand { color: white !important; }

.navbar-default .navbar-nav > .active > a { background-color: var(--tab-background) !important; }

.navbar-default .navbar-toggle:focus, 
.navbar-default .navbar-toggle:hover { background-color: var(--tab-background); }

.navbar-default .navbar-toggle { border: none !important; }

.navbar-default .navbar-toggle .icon-bar { background-color: white !important; }

.navbar-default .navbar-collapse, .navbar-default .navbar-form { border-color: var(--tab-background) !important; }

/*****************************************
*               Map                      *
*****************************************/

.outer {
  position: fixed;
  top: 41px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  padding: 0;
}

#controls,
#cur_l {
  background-color: transparent;
  z-index: 400;
  border: none;
}

#controls {
  -webkit-transition: left 0.3s ease-out;  /* Chrome 1-25, Safari 3.2+ */
     -moz-transition: left 0.3s ease-out;  /* Firefox 4-15 */
       -o-transition: left 0.3s ease-out;  /* Opera 10.50–12.00 */
          transition: left 0.3s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
}

#place.input-group { float: left;}

.input-group .form-control,
#place_search {
  height: 48px;
  line-height: 24px;
  font-size: 17px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.2),0 -1px 0px rgba(0,0,0,0.02);
}

#place_search {
  margin-left: -2px !important;
  background-color: #fff;
  border-left: none;
  box-shadow: 3px 1px 4px rgba(0,0,0,0.2),0 0px 0px rgba(0,0,0,0.02);
  position: relative !important;
}

#place_search:hover {
  border: none !important;
}

#slide {
  z-index: 999999999 !important;
  position: relative;
}

#seplace:active,
#seplace:focus {
  border: none !important;
  z-index: 80 !important;
}

#place_search {
  z-index: 1000 !important;
}

/* Zoom Buttons */
#map .leaflet-top.leaflet-left {
  right: 10px;
  left: auto;
  top: auto;
  bottom: 20px;
}

#do { float: left; }

.fa-caret-left,
.fa-caret-right { color: #b2b2b2;}

.fa-search {
  color: #b2b2b2;
  font-size: 1.2em;
}

#do {
  background: transparent !important;
  border: none;
  margin-left: -45px;
  height: 48px;
}

.form-group { margin-bottom: 0px !important; }

#current_loc {
  background-clip: padding-box;
  border: 2px solid rgba(0,0,0,0.2);
  width: 30px;
  height: 30px;
  padding: 0;
  line-height: 26px;
}

#data_loc,
#stream {
  font-size: 150%;
  font-weight: bold;
  color: var(--title-text-color);
  background: none;
  border: none;
}

.leaflet-touch .leaflet-bar a {
  width: 26px !important;
  height: 26px !important;
  line-height: 26px !important;
}

#reset_buttons {
  z-index: 9999;
  display: none;
}

#reset_buttons.active { display: block; }

.leaflet-popup-content {
  text-align: center;
  line-height: 2em;
}

.leaflet-popup-content .fa {
  font-size: 2em;
  margin-right: 14px;
  padding-top: 10px;
  cursor: pointer;
  -webkit-transition: color .2s; /* Safari */
  transition: color .2s;
}

.open-stream { font-size: 14px; }

.open-stream:hover { text-decoration: none; }

.leaflet-popup-content .fa-angle-double-up:hover { color: #84bd00; }

.leaflet-popup-content .fa-angle-double-down:hover { color: red; }

.leaflet-popup-content .fa-line-chart:hover { color: #00ADEF; }

.leaflet-popup-content .fa-angle-double-down { margin-right: 0; }

.leaflet-popup-content a { color: #0069b5; }

.fa-angle-double-up,
.fa-angle-double-down {
  font-weight: 600;
  font-size: 2.3em !important;
}

#controls.off {
  left: -392px !important;
}

#slide {
    height: 48px;
    margin-left: -1px;
    padding: 0;
    width: 18px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    box-shadow: 4px 1px 4px rgba(0,0,0,0.13),0 -1px 0 rgba(0,0,0,0.02);
    border-left: none;
}

.leaflet-touch .leaflet-draw-actions {
    left: 132px !important;
}

.leaflet-draw-actions a {
  background-color: transparent !important;
  color: transparent !important;
}


.swal-icon--warning {
  border-color: #f27474 !important;
  animation: none !important;
}

.swal-icon--warning__body, 
.swal-icon--warning__dot {
  background-color: #f27474 !important;
}

.editConfirm {
  color: #e4f8d5;
}




/*****************************************
*            Information                 *
*****************************************/

.table-striped > tbody > tr:nth-of-type(2n+1) { background-color: #e8f5ff; }

/*****************************************
*            Stream Flow                 *
*****************************************/

#tbl_up,
#tbl_down { margin-bottom: 5px; }

#downloadData,
#streamFlow{ margin: 30px 0; }

/*****************************************
*            Data                        *
*****************************************/

.dygraph-title {
  color: #0069b5;
  font-weight: bold;
  font-style: italic;
  font-size: 16px;
}
.dygraph-axis-label {
  font-size: 11px;
}

.pretty {
  margin-left: 10px !important;
  margin-bottom: 5px;
}

.dropdown-menu h3 {
    color: #0069b5;
}

#downloads {
  z-index:99;
}

.dropdown-menu li:first-of-type {
    display: none;
}

.col-sm-6 .btn {
  float: left;
  margin-right: 5px;
}

.dropdown-menu-right {
    top: 35px;
}

#downloadData {
  width: 95%;
  color: white;
}

#downloadData:hover {
  background-color: #286090;
  border-color: #204d74;
}

#downloadData i {display: none;}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, 
.dropdown-menu > .active > a:hover {
    color: #fff !important;
}

.bs-select-all { display: none;}

/*****************************************
*           HIGH FLOWS                  *
*****************************************/

#flood_dygraph {
  border-top: 6px solid darkgray;
  padding: 18px 0;
}

#close_fl_gr {
  display: none;
  position: absolute;
  right: 3px;
  left: auto;
  bottom: 200px;
  border: none;
  z-index: 999;
  background: transparent;
  color: #b2b2b2;
}

#close_fl_gr:hover {
  color: white;
}

a.lat_lon {
  color: black !important;
  text-decoration: none !important;
}

/*****************************************
*              Map 2                     *
*****************************************/

.tab-pane[data-value="Filter"] {
  margin-top: -20px;
  margin-left: -15px;
  margin-right: -15px;
}

#nhd_options {
    padding-left: 20px;
}

.table_opts {
    color: black;
    margin-left: -5px;
}

.multicol { 
  height: 100px;
  -webkit-column-count: 3; /* Chrome, Safari, Opera */ 
  -moz-column-count: 3;    /* Firefox */ 
  column-count: 3; 
  -moz-column-fill: auto;
  -column-fill: auto;
}

#info_modal_button {
    background: transparent;
    border: none;
    box-shadow: none;
    color: #999999;
}

#info_modal_button:hover {
    color: #666666;
}

.float-left {
  float: left;
}

#ts {text-align: center;}

#ts h3 {
  font-weight: bold;
  color: #005593;
}


/*****************************************
*            Queiries                    *
*****************************************/

@media only screen and (max-width: 473px) {
  
  .navbar-default .navbar-brand{ font-size: 12px !important;}
  
  #nav > li > a {
    padding-left: 8px !important;
    padding-right: 8px !important;
  }
}

@media only screen and (max-width: 407px) {

  #place { max-width: 260px; }
  
  #controls.off { left: -260px !important; }
  
  #nav > li > a {
    padding-left: 6px !important;
    padding-right: 6px !important;
  }
}

@media only screen and (max-width: 371px) {
  
  .navbar-default .navbar-brand{
    font-size: 12px !important;
    padding-left: 8px;
  }
}

@media only screen and (max-width: 290px) {
  .logo {display: none}
  .logo-small {display: block;}
}

.col-sm-12 {
  padding-left: 0px !important;
}

#mark_flowline, #nextCOMID, #prevCOMID {
  margin: 0px 5px 0px 0;
}

@media only screen and (max-width: 768px) {
#mark_flowline, #nextCOMID, #prevCOMID, #drop663421980 {
  margin-top: 5px !important;
}


.form-group.shiny-input-container {
    width: 100%;
}